<div class="containerAlmuerzo">
  <section class="groupBottons">

    <button (click)=" mostrarDesayuno()" class="desayuno">Desayuno </button>
    <button (click)=" mostrarAlmuerzo()" class="almuerzo">Almuerzo</button>
  
  </section>
  
  <section class="cena-products">
    <div *ngFor="let item of filterProduc" class="cena-items">
      <img [src]="item.image" alt="">
      <p class="nombreProducto">{{item.name}}</p>
      <div class="containerAgregar">
        <button (click)= "agregar()" id="btnLogin" class="btnAgregar">-</button>
        <p>$/.{{item.price}}</p>
        <button (click)= "agregar()" id="btnLogin" class="btnAgregar">+</button>
      </div>
    </div>
  </section>
</div>
<app-caja-pedidos class="component"></app-caja-pedidos>