.containerAlmuerzo{
  display:flex;
  flex-direction: column;
}
.cena-products{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:600px;
}
.cena-items{
   background-color: antiquewhite;
   margin: 10px;
}
.nombreProducto{
  text-align: center;
}
.containerAgregar{
  display:flex;
  justify-content: space-around;
}
.containerAgregar button{
  width: 30px;
  border-radius: 30%;
  cursor: pointer;
}
/* .component{
  display: flex;
  width:400px;
} */
img {

  width: 200px;
  height: 200px;
  /* max-width: 90px;
  max-height: 100px;
  text-align: center; */ 
}
.groupBottons {
  background-color: black;
  text-align: center;
  padding: .7rem 1.2rem;
  border-radius: .25rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  }
  .groupBottons button{
    font-size: 2rem;
    /* color: blanchedalmond; */
    margin-right: 1rem;
  }
  
