<section class="cabecera">
  <div class="data">
    <div class="cliente">
      <p>Nombre del cliente:</p>
      <input type="text" placeholder="Ingrese el nombre del cliente">
    </div>
    <div class="cliente">
      <p>Nro Mesa: </p>
      <input type="text" placeholder="Nro de Mesa">
    </div>
    <div class="empleado">
      <p>Mesero: <span>Pepito Sanchez</span></p>
    </div>
  </div>
</section>
<!-- <section class="header-nombres">
  <input type= "text" [(ngModel)]="cliente" placeholder="Nombre de Cliente">
  <p>Mesero : Mario Puente</p>
</section> -->
