<header class="header-waiter">
  <div class="container-waiter">
    <div class="logo-waiter">
      <img src="../../../assets/logo-amero-fin.png" alt="Logo">
      <h1 class="titulo">Amero Burger</h1>
    </div>
    <div class="desktop">
      <div class="navegacion-waiter">
        <ul>
          <li>
            <a href="#">Desayuno</a>
          </li>
          <li>
            <a href="#">Almuerzo/Cena</a>
          </li>
          <li>
            <a href="#">Pedidos</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="mobile">
      <div class="navegacion-waiter">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
  </div>
</header>
