<div class="login-container">
    <div class="img-login">
      <h1 class="titulo">Amero Burger</h1>
      <img src="assets/logoPicture.png" alt="papitas, burger, bebida">
    </div>

    <!-- <form class="form-container"> -->
    <form [formGroup]= "loginForm" (ngSubmit)= "onLogin()" class="form-container">
      <!-- <h1>LOGIN</h1> -->
      <div class="container-input">
        <input type="text" id="email" class="form-login" placeholder="Correo" formControlName="email">
        <input type="password" id="password" class="form-login" placeholder="Contraseña" formControlName="password">
        <p class="error" *ngIf= "errorStatus">{{errorMsj}}</p>
        <input type="submit" class="btnLogin" value="Log In">
      </div>
    
    </form>
   

</div>

