<body>
  <div class="login-container">
    <h1>LOGIN</h1>
    <!-- <form class="form-container"> -->
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" class="form-container">

      <input type="email" id="email" class="form-login" placeholder="Correo" formControlName = "usuario">
      <input type="password" id="password" class="form-login" placeholder="Contraseña" formControlName ="password">
      <button type="submit" class="btnLogin">Ingresar</button>
      <!-- <button (click)= "enviar($event)" routerLink = "/waiter" class="btnLogin">Ingresar</button> -->
    </form>
  </div>
</body>