<section class="des-products">
  <div class="des-items">
    <img src="./assets/americano.jpg" alt="cafe americano">
    <p>Café americano</p>
    <p>$ 5.00</p>
  </div>
  <div class="des-items">
    <img src="./assets/cafeLeche.jpg" alt="cafe con leche">
    <p>Café con leche</p>
    <p>$ 7.00</p>
  </div>
  <div class="des-items">
    <img src="./assets/jamonQueso.jpeg" alt="Sandwich de jamón y queso">
    <p>Sandwich de jamón y queso</p>
    <p>$ 10.00</p>
  </div>
  <div class="des-items">
    <img src="./assets/aguaMineral.jpg" alt="Jugo de frutas natural">
    <p>Jugo de frutas natural</p>
    <p>$ 7.00</p>
  </div>
</section>
