<section class="tabla">
  <h2 class="title">Agregar Pedido</h2>
  <button class="toggle" (click)="toggleItemVisibility()">
    {{ showItems ? "Ocultar": "Mostrar"}}
  </button>

  <div class="tabla-pedido">
    <ng-container *ngIf="showItems">
      <app-shopping-cart-item 
      *ngFor="let item of cartItems" 
      [cartItem]="item"
      (cartItemDelete)="deleteItem(item)"
    ></app-shopping-cart-item>
    </ng-container>
    <p class="total"><span class="total-label">Total:</span>$ {{total}}</p>
    <button class="listo">Enviar Pedido</button>
  </div>
</section>